
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="page-wrapper" style="min-height: 754px;">
    <div class="content container-fluid">

        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="page-title">Transactions</h3>
                  
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                                <div class="row"><div class="col-sm-12 col-md-6"><div class="dataTables_length" id="DataTables_Table_0_length"><label>Show <select name="DataTables_Table_0_length" aria-controls="DataTables_Table_0" class="custom-select custom-select-sm form-control form-control-sm"><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select> entries</label></div></div><div class="col-sm-12 col-md-6"></div></div><div class="row">
                                    <div class="col-sm-12">
                                        <table class="datatable table table-hover table-center mb-0 dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
                                            <thead>
                                                <tr role="row"><th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Invoice Number: activate to sort column descending" style="width: 210.062px;">Invoice Number</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Patient ID: activate to sort column ascending" style="width: 140.125px;">Patient ID</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Patient Name: activate to sort column ascending" style="width: 257.125px;">Patient Name</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Total Amount: activate to sort column ascending" style="width: 182.2px;">Total Amount</th><th class="text-center sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending" style="width: 124.488px;">Status</th><th class="text-end sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Actions: activate to sort column ascending" style="width: 112.287px;">Actions</th></tr>
                                            </thead>
                                            <tbody>


                                                <tr role="row" class="odd">
                                                    <td class="sorting_1"><a href="invoice.html">#IN0001</a></td>
                                                    <td>#PT001</td>
                                                    <td>
                                                        <h2 class="table-avatar">
                                                            <a href="profile.html">Charlene Reed </a>
                                                        </h2>
                                                    </td>
                                                    <td>$100.00</td>
                                                    <td class="text-center">
                                                        <span class="badge rounded-pill bg-success inv-badge">Paid</span>
                                                    </td>
                                                    <td class="text-end">
                                                        <div class="actions">
                                                            <a class="btn btn-sm bg-danger-light" data-bs-toggle="modal" href="#delete_modal">
                                                                <i class="fe fe-trash"></i> Delete
                                                            </a>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr role="row" class="even">
                                                    <td class="sorting_1"><a href="invoice.html">#IN0002</a></td>
                                                    <td>#PT002</td>
                                                    <td>
                                                        <h2 class="table-avatar">
                                                            <a href="profile.html">Travis Trimble </a>
                                                        </h2>
                                                    </td>
                                                    <td>$200.00</td>
                                                    <td class="text-center">
                                                        <span class="badge rounded-pill bg-success inv-badge">Paid</span>
                                                    </td>
                                                    <td class="text-end">
                                                        <div class="actions">
                                                            <a class="btn btn-sm bg-danger-light" data-bs-toggle="modal" href="#delete_modal">
                                                                <i class="fe fe-trash"></i> Delete
                                                            </a>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr role="row" class="odd">
                                                    <td class="sorting_1"><a href="invoice.html">#IN0003</a></td>
                                                    <td>#PT003</td>
                                                    <td>
                                                        <h2 class="table-avatar">
                                                            <a href="profile.html">Carl Kelly</a>
                                                        </h2>
                                                    </td>
                                                    <td>$250.00</td>
                                                    <td class="text-center">
                                                        <span class="badge rounded-pill bg-success inv-badge">Paid</span>
                                                    </td>
                                                    <td class="text-end">
                                                        <div class="actions">
                                                            <a class="btn btn-sm bg-danger-light" data-bs-toggle="modal" href="#delete_modal">
                                                                <i class="fe fe-trash"></i> Delete
                                                            </a>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr role="row" class="even">
                                                    <td class="sorting_1"><a href="invoice.html">#IN0004</a></td>
                                                    <td>#PT004</td>
                                                    <td>
                                                        <h2 class="table-avatar">
                                                            <a href="profile.html"> Michelle Fairfax</a>
                                                        </h2>
                                                    </td>
                                                    <td>$150.00</td>
                                                    <td class="text-center">
                                                        <span class="badge rounded-pill bg-success inv-badge">Paid</span>
                                                    </td>
                                                    <td class="text-end">
                                                        <div class="actions">
                                                            <a class="btn btn-sm bg-danger-light" data-bs-toggle="modal" href="#delete_modal">
                                                                <i class="fe fe-trash"></i> Delete
                                                            </a>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr role="row" class="odd">
                                                    <td class="sorting_1"><a href="invoice.html">#IN0005</a></td>
                                                    <td>#PT005</td>
                                                    <td>
                                                        <h2 class="table-avatar">
                                                            <a href="profile.html">Gina Moore</a>
                                                        </h2>
                                                    </td>
                                                    <td>$350.00</td>
                                                    <td class="text-center">
                                                        <span class="badge rounded-pill bg-success inv-badge">Paid</span>
                                                    </td>
                                                    <td class="text-end">
                                                        <div class="actions">
                                                            <a class="btn btn-sm bg-danger-light" data-bs-toggle="modal" href="#delete_modal">
                                                                <i class="fe fe-trash"></i> Delete
                                                            </a>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr role="row" class="even">
                                                    <td class="sorting_1"><a href="invoice.html">#IN0006</a></td>
                                                    <td>#PT006</td>
                                                    <td>
                                                        <h2 class="table-avatar">
                                                            <a href="profile.html" class="avatar avatar-sm me-2"><img class="avatar-img rounded-circle" src="assets/img/patients/patient6.jpg" alt="User Image"></a>
                                                            <a href="profile.html">Elsie Gilley</a>
                                                        </h2>
                                                    </td>
                                                    <td>$300.00</td>
                                                    <td class="text-center">
                                                        <span class="badge rounded-pill bg-success inv-badge">Paid</span>
                                                    </td>
                                                    <td class="text-end">
                                                        <div class="actions">
                                                            <a class="btn btn-sm bg-danger-light" data-bs-toggle="modal" href="#delete_modal">
                                                                <i class="fe fe-trash"></i> Delete
                                                            </a>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr role="row" class="odd">
                                                    <td class="sorting_1"><a href="invoice.html">#IN0007</a></td>
                                                    <td>#PT007</td>
                                                    <td>
                                                        <h2 class="table-avatar">
                                                            <a href="profile.html" class="avatar avatar-sm me-2"><img class="avatar-img rounded-circle" src="assets/img/patients/patient7.jpg" alt="User Image"></a>
                                                            <a href="profile.html"> Joan Gardner</a>
                                                        </h2>
                                                    </td>
                                                    <td>$250.00</td>
                                                    <td class="text-center">
                                                        <span class="badge rounded-pill bg-success inv-badge">Paid</span>
                                                    </td>
                                                    <td class="text-end">
                                                        <div class="actions">
                                                            <a class="btn btn-sm bg-danger-light" data-bs-toggle="modal" href="#delete_modal">
                                                                <i class="fe fe-trash"></i> Delete
                                                            </a>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr role="row" class="even">
                                                    <td class="sorting_1"><a href="invoice.html">#IN0008</a></td>
                                                    <td>#PT008</td>
                                                    <td>
                                                        <h2 class="table-avatar">
                                                            <a href="profile.html" class="avatar avatar-sm me-2"><img class="avatar-img rounded-circle" src="assets/img/patients/patient8.jpg" alt="User Image"></a>
                                                            <a href="profile.html"> Daniel Griffing</a>
                                                        </h2>
                                                    </td>
                                                    <td>$150.00</td>
                                                    <td class="text-center">
                                                        <span class="badge rounded-pill bg-success inv-badge">Paid</span>
                                                    </td>
                                                    <td class="text-end">
                                                        <div class="actions">
                                                            <a class="btn btn-sm bg-danger-light" data-bs-toggle="modal" href="#delete_modal">
                                                                <i class="fe fe-trash"></i> Delete
                                                            </a>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr role="row" class="odd">
                                                    <td class="sorting_1"><a href="invoice.html">#IN0009</a></td>
                                                    <td>#PT009</td>
                                                    <td>
                                                        <h2 class="table-avatar">
                                                            <a href="profile.html" class="avatar avatar-sm me-2"><img class="avatar-img rounded-circle" src="assets/img/patients/patient9.jpg" alt="User Image"></a>
                                                            <a href="profile.html">Walter Roberson</a>
                                                        </h2>
                                                    </td>
                                                    <td>$100.00</td>
                                                    <td class="text-center">
                                                        <span class="badge rounded-pill bg-success inv-badge">Paid</span>
                                                    </td>
                                                    <td class="text-end">
                                                        <div class="actions">
                                                            <a class="btn btn-sm bg-danger-light" data-bs-toggle="modal" href="#delete_modal">
                                                                <i class="fe fe-trash"></i> Delete
                                                            </a>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr role="row" class="even">
                                                    <td class="sorting_1"><a href="invoice.html">#IN0010</a></td>
                                                    <td>#PT010</td>
                                                    <td>
                                                        <h2 class="table-avatar">
                                                            <a href="profile.html" class="avatar avatar-sm me-2"><img class="avatar-img rounded-circle" src="assets/img/patients/patient10.jpg" alt="User Image"></a>
                                                            <a href="profile.html">Robert Rhodes </a>
                                                        </h2>
                                                    </td>
                                                    <td>$120.00</td>
                                                    <td class="text-center">
                                                        <span class="badge rounded-pill bg-success inv-badge">Paid</span>
                                                    </td>
                                                    <td class="text-end">
                                                        <div class="actions">
                                                            <a class="btn btn-sm bg-danger-light" data-bs-toggle="modal" href="#delete_modal">
                                                                <i class="fe fe-trash"></i> Delete
                                                            </a>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div><div class="row"><div class="col-sm-12 col-md-5"><div class="dataTables_info" id="DataTables_Table_0_info" role="status" aria-live="polite">Showing 1 to 10 of 10 entries</div></div><div class="col-sm-12 col-md-7"><div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate"><ul class="pagination"><li class="paginate_button page-item previous disabled" id="DataTables_Table_0_previous"><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="0" tabindex="0" class="page-link">Previous</a></li><li class="paginate_button page-item active"><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="1" tabindex="0" class="page-link">1</a></li><li class="paginate_button page-item next disabled" id="DataTables_Table_0_next"><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="2" tabindex="0" class="page-link">Next</a></li></ul></div></div></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

