@{
    ViewData["Title"] = "Index";

}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js"></script>

<link href="~/booking/css/style.css" rel="stylesheet" />
<link href="~/css/appointment.css" rel="stylesheet" />


<div class="container">
    <div class="col-md-8">
        <div style="margin-bottom:20rem;margin-top:3rem;">

            <input type="radio" id="html" name="fav_language" value="HTML">

            <div class="col-md-4 col-sm-4">

                <div class="schedule-cont">
                    <div class="">
                        <div id="container">
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<script src="//cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>

<script>

    $(document).ready(function() {

        GetAllData();
    });

    function GetAllData() {

        $.ajax({
            type: "GET",

            url: "/TestCheckBox/GetSlots/",

            data: "{}",

            success: function(data) {
                var arr = data;

                $.each(arr, function(index, value) {
                    console.log('The value at arr[' + index + '] is: ' + value);
                    console.log(value);

                    $('#container').append(
                        $(document.createElement('input')).prop({
                            id: 'myCheckBox',
                            name: 'interest',
                            value: value.makeId,
                            type: 'checkbox',
                            class: 'cat action'
                        })
                    )
                        .append(
                            $(document.createElement('label')).prop({
                                for: 'myCheckBox',
                                class: 'cat label'
                            }).html()
                        )

                        .append(
                            $(document.createElement('span')).prop({

                                class: 'cat label'
                            }).html(value.makeName)

                        )
                        .append(document.createElement('br'));

                });
            }

        });
    }
</script>